* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  /* Asegúrate de que las fuentes sigan cargadas en public/index.html */
  font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
